/* Contacts.module.css */
.weGives {
    border: 1px solid #2C3333;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.weGives p {
    font-family: "Yulong", sans-serif;
    font-size: 26px;
}

/* data */

.data {
    border: 1px solid #2C3333;
    border-top: none;
    display: flex;
}

.connect {
    padding: 25px;
    border-right: #2C3333 1px solid;
}

.address {
    padding: 25px;
}

.iconData {
    display: flex;
    gap: 15px;
}

.dataP {
    font-family: 'Yulong', sans-serif;
    font-size: 24px;
}

.city {
    font-family: "ARCO", sans-serif;
    font-weight: 700;
    font-size: 26px;
}